.Wrapper {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px;
    margin-left: 500px;
    padding: 55px;
    width: 300px;
}

#myNumber {
    width: 30px;
}